*{
	padding: 0;
	margin: 0;
	list-style: none;
}
#bigDiv{
	background-color: white;
	overflow: hidden;
}
/*头部*/
#head-nav ul li a{
	color: #545454;
	font-weight: 600;
    font-size: 16px;
}
#head-nav ul li a:hover{
	background-color: rgba(0,0,0,0);
	opacity: 1;
	color: #007bff;
}
.head-btn span{
	border: 1px solid #6c757d ;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
	height: 790px;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: 450px;
	}
}
.introduce{
	position: absolute;
	top: 25%;
	left: 10%;
	color: white;
	width: 60%;
	height: 40%;
	padding: 5%;
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	border-left:3px solid  #20d8da;
}
@media only screen and (min-width: 768px)  {
	.introduce h2{
		font-size: 60px;
	}
	.introduce p{
		font-size: 15px;
	}
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.introduce{
		width: 95%;
		height: 50%;
		left: 3%;
	}
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
	.fix{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		background-color: white;
		width: 100%;
	}
}
@media only screen and (min-width:768px) {
	.fix{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		margin-left: auto;
		background-color: white;
		padding-left: 105px;
		padding-right: 105px;
		width: 100%;
	}
}
/*头部over*/
/*底部+回到顶部*/
footer>hr{
	width: 100%;
	height: 1px;
	margin: 0;
	background-color: white;
}
.foot-main{
	background-color:#0c0c0c;
	padding-top: 100px;
}
.bigwidget-title{
	margin-bottom: 60px;
}
.widget-content{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
	margin-bottom: 60px;
}
.bigwidget-title h4{
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
    line-height: 1;
    font-size: 2em;
    margin-top: 0;
}
.widget-content ul li a{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
    text-decoration: none;
}
.widget-content ul li a:hover{
	color: #20D8DA;
}
.copywrite-content{
	background-color: #000000; 
}
.copywrite-text{
	padding-top: 13px;
}
.copywrite-text a:hover{
	color: #20d8da;
}
.copywrite-text a{
	font-size: 13px;
    font-weight: 400;
    color: #808080;
    text-decoration: none;
   
}
.footer-nav ul li{
	float: left;
	margin-bottom: 10px;
}
.footer-nav ul li:first-of-type{
	margin-left: 40%;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.footer-nav ul li:first-of-type{
		margin-left: 3%;
	}
}
.footer-nav ul li:nth-of-type(2){
	margin-left: 5%;
}
.footer-nav ul li:nth-of-type(2)~li{
	margin-left: 5%;
}
.footer-nav ul li a{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
    text-decoration: none;
}
.footer-nav a:hover{
	color: #20d8da;
}
.returnTop{
	background-color: #000000;
	width: 40px;
	height: 40px;
	border-radius:50% ;
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 99;
	display: none;
}
.returnBtn{
	color: white;
	
}
.returnBtn:hover{
	color: white;
}
/*底部+回到顶部over*/
/*一张大图*/
.bigImg{
	padding: 0;
	margin: 0;
	position: relative;
	height: 410px;
	overflow: hidden;
	margin-bottom: 80px;
}
.bigImg img{
	width: 100%;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.bigImg{
		height: auto;
	}
}
@media only screen and (min-width: 768px){
	.bigImg img{
		margin-top: -70px;
	}
}
.shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.5);
}
.breadcrumb-text{
	position: absolute;
	top: 35%;
	left: 10%;
	color: white;
	border-left: 2px solid #20d8da;
	padding: 30px 60px;
	background-color: rgba(0, 0, 0, 0.6)
}
.breadcrumb-text h2{
	font-size: 36px;
    line-height: 1;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    margin-top: 0;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.breadcrumb-text h2{
		font-size: 24px;
	}
	.breadcrumb-text{
		padding: 20px 40px;
		
	}
}
/*一张大图over*/
.contact-content{
	margin-bottom: 60px;
}
.contact-content p {
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    color: #939393;
    font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
}
.contact-content>a{
	display: block;
	margin-bottom: 50px;
}
.single-contact-info .title{
    max-width: 99px;
    width: 99px;
    height: 32px;
    background-color: #20d8da;
    text-align: center;
    margin-right: 20px;
    float: left;
}
.single-contact-info .title p {
    color: #fff;
    line-height: 32px;
    font-size: 14px;
    margin-bottom:0px;
    background-color: #20d8da;
    text-align: center;
}
.single-contact-info:last-of-type{
	margin-top: 20px;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.contact-content{
		margin-top: 30px;
	}
	.single-contact-info{
		margin: 20px 0px;
	}
}
.sec4{
    margin-bottom: 70px ;
    font-family: "Open Sans", sans-serif;
    color: #424242;
    line-height: 1.3;
    font-weight: 700;
    font-size: 1.5em;
}
.contact-form-area{
	margin-bottom: 100px;
}
.contact-form-area .form-control {
    height: 45px;
    width: 100%;
    background-color: #eff4f9;
    font-size: 12px;
    margin-bottom: 30px;
    border-radius: 0;
    padding: 15px 30px;
    font-weight: 600;
    font-style: italic;
    color: #ababab;
    border: none;
    outline: none;
    box-shadow: none;
}
.contact-form-area textarea.form-control {
    height: 190px;
    resize: none;
}
.egames-btn {
    background-color: #20d8da;
    display: inline-block;
    width: 100%;
    min-width: 160px;
    height: 50px;
    color: #ffffff;
    border-radius: 0;
    padding: 0 30px;
    font-size: 14px;
    line-height: 50px;
    font-weight: 500;
    text-transform: capitalize;
}
.vide{
	background-color: #DDD;
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}
video{
	width: 100%;
}
