*{
	padding: 0;
	margin: 0;
	list-style: none;
}
#bigDiv{
	background-color: white;
	overflow: hidden;
}
/*头部*/
#head-nav ul li a{
	color: #545454;
	font-weight: 600;
    font-size: 16px;
}
#head-nav ul li a:hover{
	background-color: rgba(0,0,0,0);
	opacity: 1;
	color: #007bff;
}
.head-btn span{
	border: 1px solid #6c757d ;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
	height: 790px;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: 450px;
	}
}
.introduce{
	position: absolute;
	top: 25%;
	left: 10%;
	color: white;
	width: 60%;
	height: 40%;
	padding: 5%;
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	border-left:3px solid  #20d8da;
}
@media only screen and (min-width: 768px)  {
	.introduce h2{
		font-size: 60px;
	}
	.introduce p{
		font-size: 15px;
	}
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.introduce{
		width: 95%;
		height: 50%;
		left: 3%;
	}
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
	.fix{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		background-color: white;
		width: 100%;
	}
}
@media only screen and (min-width:768px) {
	.fix{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		margin-left: auto;
		background-color: white;
		padding-left: 105px;
		padding-right: 105px;
		width: 100%;
	}
}
/*头部over*/
/*底部+回到顶部*/
footer>hr{
	width: 100%;
	height: 1px;
	margin: 0;
	background-color: white;
}
.foot-main{
	background-color:#0c0c0c;
	padding-top: 100px;
}
.bigwidget-title{
	margin-bottom: 60px;
}
.widget-content{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
	margin-bottom: 60px;
}
.bigwidget-title h4{
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
    line-height: 1;
    font-size: 2em;
    margin-top: 0;
}
.widget-content ul li a{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
    text-decoration: none;
}
.widget-content ul li a:hover{
	color: #20D8DA;
}
.copywrite-content{
	background-color: #000000; 
}
.copywrite-text{
	padding-top: 13px;
}
.copywrite-text a:hover{
	color: #20d8da;
}
.copywrite-text a{
	font-size: 13px;
    font-weight: 400;
    color: #808080;
    text-decoration: none;
   
}
.footer-nav ul li{
	float: left;
	margin-bottom: 10px;
}
.footer-nav ul li:first-of-type{
	margin-left: 40%;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.footer-nav ul li:first-of-type{
		margin-left: 3%;
	}
}
.footer-nav ul li:nth-of-type(2){
	margin-left: 5%;
}
.footer-nav ul li:nth-of-type(2)~li{
	margin-left: 5%;
}
.footer-nav ul li a{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
    text-decoration: none;
}
.footer-nav a:hover{
	color: #20d8da;
}
.returnTop{
	background-color: #000000;
	width: 40px;
	height: 40px;
	border-radius:50% ;
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 99;
	display: none;
}
.returnBtn{
	color: white;
	
}
.returnBtn:hover{
	color: white;
}
/*底部+回到顶部over*/
.bigImg{
	padding: 0;
	margin: 0;
	position: relative;
	height: 410px;
	overflow: hidden;
	margin-bottom: 80px;
}
.bigImg img{
	width: 100%;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.bigImg{
		height: auto;
	}
}
@media only screen and (min-width: 768px){
	.bigImg img{
		margin-top: -70px;
	}
}
.shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.6);
}
.breadcrumb-text{
	position: absolute;
	top: 35%;
	left: 10%;
	color: white;
	border-left: 2px solid #20d8da;
	padding: 30px 60px;
	background-color: rgba(0, 0, 0, 0.6)
}
.breadcrumb-text h2{
	font-size: 36px;
    line-height: 1;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    margin-top: 0;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.breadcrumb-text h2{
		font-size: 24px;
	}
	.breadcrumb-text{
		padding: 20px 40px;
		
	}
}
.game-thumbnail{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.game-thumbnail img{
	width: 100%;
}
.game-tag{
	font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #aaaaaa;
}
.game-title:link{
	font-size: 24px;
    color: #424242;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}
.game-title:visited{
    color: #424242;
}
.game-title:hover{
	color: #20D8DA;
}
.game-meta{
	margin-bottom: 15px;
}
.game-meta a:first-child {
    margin-right: 30px;
}
.game-meta a {
    font-size: 14px;
    color: #6b6b6b;
    font-weight: 700;
    text-decoration: none;
}
.game-meta a:hover{
	color: #20D8DA;
}
.game-content p {
    color: #939393;
    margin-bottom: 15px;
    color: #939393;
    font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
}
.download-area a:first-of-type{
	margin-right: 20px;
}
.download-area a img {
    max-height: 36px;
}
.download-area{
	float: left;
}
.rating-area{
	float: right;
}
.rating-area h3{
	margin-top: 0;
	font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
}
.stars{
	font-size: 10px;
}
.stars i {
    color: #fbb710;
}
.content-mar{
	margin-top: 30px;
	margin-bottom: 30px;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.game-content{
		margin-top: 30px;
	}
}
.shield{
	width: 100%;
	height: 100%;
	background-color: rgba(0,123,255,0.3);
	position: absolute;
	top: 0;
	z-index: 3;
	display: none;
}
.pagination{
	margin-top: 30px;
	margin-bottom: 70px;
}
.pagination > li > a{
	border: none;
	font-size: 16px;
	font-weight: 600;
	color: #424242;
	text-align: center;
    display: inline-block;
    border-radius: 0;
    padding: 0;
    margin-right: 20px;
}
.pagination > li > a:hover{
	background-color: rgba(0,0,0,0);
}