*{
	padding: 0;
	margin: 0;
	list-style: none;
}
#bigDiv{
	width: 100%;
	overflow: hidden;
}
#head-nav ul li a{
	color: #545454;
	font-weight: 600;
    font-size: 16px;
}
#head-nav ul li a:hover{
	background-color: rgba(0,0,0,0);
	opacity: 1;
	color: #007bff;
}
.head-btn span{
	border: 1px solid #6c757d ;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
	height: 790px;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: 450px;
	}
}
.introduce{
	position: absolute;
	top: 25%;
	left: 10%;
	color: white;
	width: 60%;
	height: 40%;
	padding: 5%;
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	border-left:3px solid  #20d8da;
}
@media only screen and (min-width: 768px)  {
	.introduce h2{
		font-size: 60px;
	}
	.introduce p{
		font-size: 15px;
	}
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.introduce{
		width: 95%;
		height: 50%;
		left: 3%;
	}
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
	.fix{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		background-color: white;
		width: 100%;
	}
}
@media only screen and (min-width:768px) {
	.fix{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		margin-left: auto;
		background-color: white;
		padding-left: 105px;
		padding-right: 105px;
		width: 100%;
	}
}
.iconmargin{
	margin-top: 80px;
}
.col-12 .text-center img{
	height: 55px;
	display: block;
	margin: 0 auto;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.col-12 .text-center img{
		height: 40px;
		display: block;
	}
}
.icon-cs::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #cdcdcd;
    top: 0;
    right: -6.5px;
    position: absolute;
    z-index: 1;
}
.btn-cs{
	background-color: #20d8da;
	min-width: 160px;
    height: 50px;
    color: #ffffff;
    border-radius: 0;
    padding: 0 30px;
    font-size: 14px;
    line-height: 50px;
    font-weight: 500;
    margin-top: 20px;
}
section{
	margin-top: 80px;
}
.pad{
	overflow: hidden;
	height: 560px;
	position: relative;
}
@media only screen and (min-width: 768px) {
	.pad{
		width: 385px;
		margin-right: 2px;
	}
}
.div-move{
	position: absolute;
	width: 100%;
	margin-left: -15px;
}
#move{
	width: 6px;
	height: 30px;
	background-color: rgb(32, 216, 218);
	position: absolute;
	top: 0;
	left: 98.5%;
	border-radius:5px ;
	display: none;
	z-index: 4;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	#move{
		/*left: 98.7%;*/
		right: 0.1%;
	}	
}
.img-div img{
	width: 100%;
}
.img-div{
	padding-left: 0;
	padding-right: 0;
}
.font-div p{
	color: white;
}
.font-div span{
	color: #747373;
	font-size:10px ;
}
.btn-div{
	background-color: #20d8da;
	color: white;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.content-div{
	overflow: hidden;
	padding: 15px;
	background-color:#424242 ;
	cursor: pointer;
	margin-bottom: 2px;
	
}
.pic{
	padding: 0;
	margin: 0;
	position: relative;
	margin-bottom: 80px;
}
.pic img{
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.pic img{
		height: 560px;
	}
}
.pad{
	padding-right: 1px;
	margin-bottom: 1px;
}
.div-circle{
	width: 74px;
	height: 74px;
	position: absolute;
	background-color: rgba(255, 0, 0, 0.63);
    border-radius: 50%;
    text-align: center;
    top:35%;
    left: 45%;
}
@media only screen and (min-width: 768px){
	.div-circle{
		top: 42%;
	}
}
.div-circle img{
	width: 50% ;
	height: auto;
	margin-left: 10%;
}
.div-circle{
	border: none;
}
.modal-content{
	background-color: rgba(0,0,0,0);
}
.close{
	color: white;
	opacity: 1;
}
.secondBig{
	background: url(../img/bg-img/5.jpg);
	background-size:100% ;
	background-attachment: fixed;
	/*background: rgba(0,0,0,0.1);
	color: white;*/
}
.secondBig a{
	text-decoration: none;
}
.secondBig h2{
	margin-top: 100px;
	margin-bottom: 70px;
	font-size: 36px;
    color: #fff;
    font-weight: 400;
}
.smallDiv{
	margin-bottom: 40px;
	cursor: pointer;
}
.shield{
	width: 100%;
	height: 100%;
	background-color: rgba(0,123,255,0.4);
	position: absolute;
	top: 0;
	z-index: 3;
	display: none;
}
.single-img{
	overflow: hidden;
	width: 38%;
	padding: 0;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.single-img{
		width: 94%;
		margin: 0 3%;
	}
}
.single-img img{
	width: 100%;
}
.post-title{
	font-size: 24px;
    font-weight: 700;
    color: white;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}
.post-title:hover{
	color: white; 
}
.post-date{
	color: #20d8da;
	font-size: 16px;
	font-weight: 600 ;
}
.post-date:hover{
	color: #20d8da;
}
.post-comments:hover{
	color: #20d8da;
}
.post-comments{
	font-size: 16px;
    color: #6b6b6b;
    font-weight: 700;
    margin-left: 10%;
}
.article-content p{
	color: #c2c2c2;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
    margin-top: 30px;
}
.long-pic{
	position: relative;
}
.long-pic img{
	width: 100%;
}
.long-pic>img{
	width: 80%;
	position: absolute;
	bottom: -80px;
	right: -40px;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.long-pic>img{
		width: 80%;
		right: 0px;
	}
}
footer>hr{
	width: 100%;
	height: 1px;
	margin: 0;
	background-color: white;
}
.foot-main{
	background-color:#0c0c0c;
	padding-top: 100px;
}
.widget-title{
	margin-bottom: 60px;
}
.widget-content{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
	margin-bottom: 60px;
}
.widget-title h4{
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
    line-height: 1;
    font-size: 2em;
    margin-top: 0;
}
.widget-content ul li a{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
    text-decoration: none;
}
.widget-content ul li a:hover{
	color: #20D8DA;
}
.copywrite-content{
	background-color: #000000; 
}
.copywrite-text{
	padding-top: 13px;
}
.copywrite-text a:hover{
	color: #20d8da;
}
.copywrite-text a{
	font-size: 13px;
    font-weight: 400;
    color: #808080;
    text-decoration: none;
   
}
.footer-nav ul li{
	float: left;
	margin-bottom: 10px;
}
.footer-nav ul li:first-of-type{
	margin-left: 40%;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.footer-nav ul li:first-of-type{
		margin-left: 3%;
	}
}
.footer-nav ul li:nth-of-type(2){
	margin-left: 5%;
}
.footer-nav ul li:nth-of-type(2)~li{
	margin-left: 5%;
}
.footer-nav ul li a{
	color:#808080 ;
	font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
    text-decoration: none;
}
.footer-nav a:hover{
	color: #20d8da;
}
.returnTop{
	background-color: #000000;
	width: 40px;
	height: 40px;
	border-radius:50% ;
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 99;
	display: none;
}
.returnBtn{
	color: white;
	
}
.returnBtn:hover{
	color: white;
}
.another-lunbo{
	padding-bottom: 80px;
}
.big-lunbo-div{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 306px;
}
.con-lunbo-div{
	position: absolute;
	height: 306px;
	width: 4400px;
}
.big-lunbo{
	float: left;
	width: 200px;
	padding-right:20px;
}
.big-lunbo:first-of-type{
	margin-left: -100px;
}
.small-lunbo{
	width: 100%;
}
.small-lunbo img{
	width: 100%;
}
.lunbo-btn{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 40%;
	background-color: #000000;
	z-index: 3;
	color: white;
	text-align: center;
	line-height: 60px;
}
.right-btn{
	left: 83%;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.right-btn{
		left: 80%;
	}
}
.left-btn{
	left: 10%;
}